.menu {
position: relative;  
background-image: url("../images/menu/menu-bg.png");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
overflow: hidden;  
}
.content__title--menu {
margin: rem(105px) 0 0 rem(95px);
  @include tablet {
  margin: rem(105px) 0 0 rem(23px);
  } 
}
.accordeon-menu {
position: absolute;
top: 0;
right: 0;
bottom: 0;
height: 100%;
  &__list {
  height: 100%;  
  }
  &__item {
  float: left;
  height: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
    &--meet {
    background-image: url("../images/menu/meet.png");
    }
    &--vegan {
    background-image: url("../images/menu/vegan.png");  
    }
    &--diet {
    background-image: url("../images/menu/diet.png");
    }
    &:hover .accordeon-menu__description {
    width: 540px;
      @include tablet {
      width: 300px;
      } 
    }
  }
  &__title {
  width: rem(80px);
  display: block;
  height: 100%;
  float: left;
  position: relative;
  background:rgba(69,69,69,0.8);
    div {
    color: $white;
    font-size: rem(35px);
    font-family: 'Gagalin-Regular';
    text-align: center;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 70%;
      @include tablet {
      font-size: rem(40.7px);
      top: 96%;
      } 
    }  
  }
  &__description { 
  color: $white;
  height: 100%;
  float: left;
  background:rgba(69,69,69,0.8);
  width: 0;
  overflow: hidden;
  transition: all .4s ease-out .1s;
    p {
    margin: rem(30px) rem(20px) rem(30px) 0;
    }   
  }  
}