.pagination {
position: fixed;
top: 14.7%;
right: 5.5%;
z-index: 2000;
    @include tablet {
    display: none;
    }  
}
.pagination__item {
position: relative;
margin-bottom: rem(21px);
    &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: rem(6px);
    height: rem(6px);
    background-color: $white;
    border: 1px solid $white;
    border-radius: 50%;
    transition: all .5s;
    }
    &:hover .pagination__link:after {
    border: 1px solid $white;    
    }    
}
.pagination__link {
display: block;    
overflow: hidden;
    &:after {
    content: '';
    position: absolute;
    top: rem(-5px);
    left: rem(-5px);
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    background: transparent;
    transition: all .5s;
    }
    &--active:after {
    border: 1px solid $white;    
    }    
}