.reviews {
position: relative;
  &__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
  }
  &__item {
  position: relative; 
  flex-basis: 25%;
  text-align: left;
  height: 50%;
    @include tablet {
    flex-basis: 50%;
    height: 25%;
    text-align: center;
    }
    &:hover .reviews__mask {
    visibility: visible;
    opacity: 1; 
    } 
  }
  &__visible {
  height: 100%;
  overflow: hidden;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
      @include tablet {
      object-position: 60% 30%;
      }  
    }
  }
  &__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  padding: rem(44px) rem(20px);
  background:rgba(69,69,69,0.8);
  transition: all .5s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  }
  &__name {
  color: $white; 
  font-family: 'Gagalin-Regular';
  font-size: rem(14px);
    @include phone {
    font-size: rem(24px);
    line-height: rem(24px);
    }
  }
  &__value {
  color: $white;
  margin: rem(20px) 0 rem(12px);
  line-height: rem(24px);
  }
  .button {
    @include phone {
    position: absolute;
    left: 0;
    right: 0;
    margin: rem(25px) auto 0;
    }
  }
}
.modal-review {
height: 100vh;
width: 100%;
background-color: rgba(47, 50, 52, 0.92);
position: absolute;
top: 0;
left: 0;
z-index: 1000;
display: flex;
flex-direction: column;
justify-content: space-around;
  @include tablet {
  height: 100%;
  }
  &__close {
  position: absolute;
  top: rem(27px);
  right: rem(19px);  
  width: rem(22px);
  height:rem(22px);
  z-index: 3000;
  cursor: pointer;
  display: flex;
  align-self: center;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
    span {
    display: block;
    position: absolute;
    height: rem(4px);
    width: 100%;
    background:$orange;
    border-radius: rem(3px);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
      &:nth-child(1) {
      top: rem(16px);
      width: 0%;
      left: 50%;
      }
      &:nth-child(2) {
      transform: rotate(45deg);
      }
      &:nth-child(3) {
      transform: rotate(-45deg);
      }
      &:nth-child(4) {
      top: rem(16px);
      width: 0%;
      left: 50%;
      }
    }
  }
  &__container {
  width: rem(470px);
  height: auto;
  background-color: $white;
  border-radius: rem(4px);
  margin: 0 auto;
  }
  &__wrapper {
  position: relative;
  padding: rem(20px);
  }
  &__name {
  font-family: 'Gagalin-Regular';
  text-transform: uppercase;
  margin: 0 0 rem(20px);
  padding: 0 rem(40px) 0 0;
  }
  &__value {
  line-height: rem(24px);
  }
}