.reviews__list {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
height: 100%;
}
.reviews__item {
position: relative; 
flex-basis: 25%;
text-align: left;
height: 50%;
  @include tablet {
  flex-basis: 50%;
  height: 25%;
  text-align: center;
  }
  &:hover .mask {
  visibility: visible;
  opacity: 1; 
  } 
}
.visible {
height: 100%;
overflow: hidden;
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
    @include tablet {
    object-position: 60% 30%;
    }  
  }
}
.mask {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
visibility: hidden;
opacity: 0;
padding: rem(44px) rem(20px);
background:rgba(69,69,69,0.8);
transition: all .5s;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
  span {
  color: $white; 
  font-family: 'Gagalin-Regular';
  font-size: rem(14px);
  }
  p {
  color: $white;
  margin: rem(20px) 0 rem(12px);
  line-height: rem(24px);
  }
}