.utp {
position: relative;  
background-image: url('../images/utp/utp-bg.png');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
overflow: hidden;
  &:after {
  position: absolute;
  content: "";
  bottom: rem(32px);
  width: rem(30px);
  height: rem(30px);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/arrow-down.png");
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
    @include phone {
      bottom: rem(23px);
    }  
  }
  &__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: rem(12px) 0 0;
    .button {
    margin: rem(-5px) 0 0;
      @include tablet {
      margin: 0 rem(65px) 0 0;
      }   
    }  
  }
  &__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
    .content__title {
    margin: rem(138px) 0 0 rem(10px);
      @include tablet {
      margin: rem(37px) 0 0;
      text-align: center;
      }
      @include phone {
        font-size: rem(63px);
        margin: rem(50px) 0 0;
      }   
    }  
  }
  &__draw,
  &__description {
  flex-basis: 50%;
    @include tablet {
    flex-basis: 100%;
    }
    @include phone {
    flex-basis: 90%;
    margin: 0 auto;
    }
  }
  &__draw {
  background-image: url('../images/utp/utp-drops.png');
  background-repeat: no-repeat;
  background-position: 91% 34%;
    @include tablet {
    background-position: 50% 55%;
    }
    @include phone {
    background-image: url('../images/utp/480/utp-drops.png');
    background-position: 50% 50%;
    }  
  }
  &__img {
  margin: rem(-6px) 0 0 rem(51px);
    @include tablet {
    margin: rem(65px) auto 0;
    }
    @include phone {
    margin: rem(40px) auto 0;
    width: 70%;
    }    
  }
  &__title {
  color:$white;
  font-family: 'Lifehack-Medium';
  font-size: rem(65px);
  font-weight: 500;
  letter-spacing: rem(-1.63px);
  line-height: rem(60px);
  margin: rem(29px) 0 0 rem(10px);
    @include tablet {
    text-align: center;
    width: 80%;
    margin: rem(28px) auto 0;
    }
    @include phone {
      font-size: rem(54px);
      margin: rem(2px) auto 0;
    }  
  }
}
.co-logo {
width: rem(92px);
margin-right: auto;
margin-left: rem(-3px);  
}
.nav {
  @include tablet {
  display: none;
  }
  &__list {
  margin: 0;
  padding: 0;
  }
  &__item {
  display: inline-block;
  white-space: nowrap;
  position: relative;
    &:after {
    position: absolute;
    top: 30%;
    display: inline-block;
    content: ' ';
    width: rem(4px);
    height: rem(4px);
    border-radius: rem(2.5px);
    background: $white;
    }
    &:last-child:after {
    display: none;
    }
  }
  &__link {
  color:$white;
  font-size: rem(13px);
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 rem(16.4px);
  vertical-align: super;
  transition: .5s;
  }
}