.utp {
position: relative;  
background-image: url('../images/utp/utp-bg.png');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: flex-start; 
  &:after {
  position: absolute;
  content: "";
  bottom: rem(32px);
  width: rem(30px);
  height: rem(30px);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/arrow-down.png");
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
    @include phone {
      bottom: rem(23px);
    }  
  }
  &__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: rem(12px) 0 0;
    .button {
    margin: rem(-5px) 0 0;
      @include tablet {
      margin:0;
      }   
    }  
  }
  &__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
    @include laptop {
      flex-flow: column wrap;
      text-align: center;
    }
    @include phone {
      padding: rem(35px) 0 0;
    }
    .content__title {
    margin: rem(138px) 0 0 rem(10px);
      @include laptop {
      margin: rem(37px) 0 0;
      text-align: center;
      }
      @include phone {
        font-size: rem(63px);
        margin: rem(50px) 0 0;
      }   
    }  
  }
  &__draw,
  &__description {
  flex-basis: 50%;
    @include tablet {
    flex-basis: 100%;
    }
    @include phone {
    flex-basis: 90%;
    margin: 0 auto;
    }
  }
  &__img {
    @include laptop {
    margin: 0 auto;
    }
    @include phone {
    width: 80%;
    }     
  }
  &__title {
  color:$white;
  font-family: 'Lifehack-Medium';
  font-size: rem(65px);
  font-weight: 500;
  letter-spacing: rem(-1.63px);
  line-height: rem(60px);
  margin: rem(29px) 0 0 rem(10px);
    @include laptop {
    width: 80%;
    margin: rem(28px) auto 0;
    }
    @include phone {
      font-size: rem(54px);
      margin: rem(2px) auto 0;
    }  
  }
}
.co-logo {
width: rem(92px);
margin-right: auto;
margin-left: rem(-3px);
z-index: 3000;  
}
.nav {
  @include tablet {
  display: none;
  }
  &__list {
  margin: 0;
  padding: 0;
  }
  &__item {
  display: inline-block;
  white-space: nowrap;
  position: relative;
    &:after {
    position: absolute;
    top: 30%;
    display: inline-block;
    content: ' ';
    width: rem(4px);
    height: rem(4px);
    border-radius: rem(2.5px);
    background: $white;
    }
    &:last-child:after {
    display: none;
    }
  }
  &__link {
  color:$white;
  font-size: rem(13px);
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 rem(16.4px);
  vertical-align: super;
  transition: .5s;
  }
}
.hamburger {
width: rem(24px);
height:rem(23px);
z-index: 3000;
transform: rotate(0deg);
transition: .5s ease-in-out;
cursor: pointer;
position: relative;
align-self: center;
display: none;
margin: 0 rem(8px) 0 rem(30px);
  @include tablet {
  display: flex;
  }
  span {
  display: block;
  position: absolute;
  height: rem(4px);
  width: 100%;
  background:$white;
  border-radius: rem(3px);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
    &:nth-child(1) {
    top: 0;
    }
    &:nth-child(2),
    &:nth-child(3) {
    top: rem(9px);
    }
    &:nth-child(4) {
    top: rem(18px);
    }
  }
  &.open span {
  background: darken($white, 30%);
    &:nth-child(1) {
    top: rem(16px);
    width: 0%;
    left: 50%;
    }
    &:nth-child(2) {
    transform: rotate(45deg);
    }
    &:nth-child(3) {
    transform: rotate(-45deg);
    }
    &:nth-child(4) {
    top: rem(16px);
    width: 0%;
    left: 50%;
    }
  }
}
.mobile-menu {
position: fixed;
top: 0;
left: 0;
bottom: 0;
width: 100%; 
height: 100vh;
background:#2f3234;
display: flex;
flex-flow: row nowrap;
justify-content: center;
opacity: 0;
visibility: hidden;
transition: all .3s;
overflow: hidden;
overflow-y: auto;
  &.open {
  opacity: 1;
  visibility: visible; 
  }
  &__list {
    margin: 26% 0 0;
    text-align: center;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin: 0 0 rem(45px);  
    }  
    &:not(:last-child):after {
      position: absolute;
      content: ' ';
      bottom: -75%;
      left: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      width: rem(6px);
      height: rem(6px);
      border-radius: rem(2.5px);
      background: $white;
    }
  }
  &__link {
  color: $white;
  text-transform:uppercase;
  font-size: rem(24px);
  transition: all .5s;
    &:hover,
    &:focus,
    &:active {
    color: $yellow;  
    }   
  } 
}