@mixin desctop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 992px) {
    @content;
  } 
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;    
  }  
}
@mixin phone {
  @media (max-width: 480px) {
    @content;    
  } 
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}

//responsive

@function rem($pixels){
  @return $pixels / $font_size + rem;
}