html {
height: 100%;  
    @include desctop {
    font-size: $font-size;
    }
    @include laptop {
    font-size: $font-size;
    }
    @include tablet {
    font-size: $font-size;
    }
    @include phone {
    font-size: $font-size;
    }  
}

body {
height: 100%;  
margin: 0;
padding: 0;
font-family: 'Ubuntu-Light', Arial, Helvetica, sans-serif;
line-height: 1.42;
color:$dark;
background: $dark;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  &.open {
  position: fixed;  
  }
}

*,
*::before,
*::after { 
box-sizing: border-box; 
}

body,
html {
height: 100%;
}

a {
text-decoration: none;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

img {
display: block;
max-width:100%;    
}

.visuallyhidden:not(:focus):not(:active) {
position: absolute;
width: rem(1px);
height: rem(1px);
margin: rem(-1px);
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}